body {
    font-family: 'Vazir', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

/* استایلدهی به ناوبری */
nav {
    background-color: #333; /* رنگ پسزمینه منو */
    padding: 10px; /* حاشیه داخلی منو */
}

nav ul {
    list-style-type: none; /* حذف نشانهگذاری لیست */
    margin: 0;
    padding: 0;
    text-align: center; /* مرکز چین کردن متن */
}

nav ul li {
    display: inline; /* نمایش لینکها به صورت افقی */
    margin: 0 15px; /* فاصله بین لینکها */
}

nav ul li a {
    color: white; /* رنگ سفید برای لینکها */
    text-decoration: none; /* حذف زیرخط لینکها */
    font-weight: bold; /* پررنگ کردن متن لینکها */
}

nav ul li a:hover {
    text-decoration: underline; /* افزودن زیرخط در حالت هاور */
}

/* استایلدهی به بخش جستجو */
.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}

/* استایلدهی به بخش کتابها */
.book-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-item {
    margin: 20px;
    text-align: center;
    position: relative; /* برای قرار دادن عناصر دیگر روی عکس */
    width: 250px; /* تنظیم عرض */
}

.book-item img {
    width: 100%; /* تنظیم عرض */
    height: auto; /* ارتفاع به طور خودکار متناسب با عرض تنظیم میشود */
    margin: 10px; /* فاصله بین تصاویر */
    border-radius: 8px; /* گرد کردن گوشههای تصاویر */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* سایه برای تصاویر */
    cursor: pointer; /* نشان دادن اینکه تصویر قابل کلیک است */
}

.book-info {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: left;
}

.book-info h3 {
    margin-top: 0;
}

.add-to-cart {
    background-color: #f00; /* قرمز */
    color: white;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* برای مرکزیت */
    cursor: pointer;
    display: inline-block;
}

.add-to-cart span {
    font-size: 1.5em;
    line-height: 1;
    display: block; /* برای مرکز چین کردن */
}

.cart-item-count {
    display: none; /* ابتدا مخفی است */
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f00;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.cart-item-count span {
    font-size: 1em;
    line-height: 1;
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}

.remove-icon {
    font-size: 1.2em;
    line-height: 1;
    color: white;
}

.add-icon {
    font-size: 1.2em;
    line-height: 1;
    color: white;
}

.item-availability {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* استایلدهی به بخش "درباره ما" */
#about {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
}

#about h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #666;
    text-align: justify;
}

/* استایلدهی به لینکهای پایین صفحه */
.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* استایلدهی به سبد خرید */
#cart-items {
    text-align: center;
    margin: 20px 0;
}
#total-price {
    text-align: center;
    margin: 20px 0;
}

#total-price button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#total-price button:hover {
    background-color: darkred;
}

/* استایلدهی به مدال برای بزرگنمایی تصاویر */
.modal {
    display: none; /* ابتدا مخفی است */
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-arrow-left,
.modal-arrow-right {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-50%);
}

.modal-arrow-left {
    left: 10px;
}

.modal-arrow-right {
    right: 10px;
}