body {
    font-family: 'Vazir', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

/* استایل‌دهی به ناوبری */
nav {
    background-color: #333; /* رنگ پس‌زمینه منو */
    padding: 10px; /* حاشیه داخلی منو */
}

nav ul {
    list-style-type: none; /* حذف نشانه‌گذاری لیست */
    margin: 0;
    padding: 0;
    text-align: center; /* مرکز چین کردن متن */
}

nav ul li {
    display: inline; /* نمایش لینک‌ها به صورت افقی */
    margin: 0 15px; /* فاصله بین لینک‌ها */
}

nav ul li a {
    color: white; /* رنگ سفید برای لینک‌ها */
    text-decoration: none; /* حذف زیرخط لینک‌ها */
    font-weight: bold; /* پررنگ کردن متن لینک‌ها */
}

nav ul li a:hover {
    text-decoration: underline; /* افزودن زیرخط در حالت هاور */
}

/* استایل‌دهی به بخش جستجو */
.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}

/* استایل‌دهی به بخش کتاب‌ها */
.book-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.book-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.book-info {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.book-info h3 {
    margin-top: 0;
}

.action-buttons {
    display: flex; /* نمایش دکمه‌ها به صورت افقی */
    align-items: center; /* همتراز کردن دکمه‌ها به مرکز */
    justify-content: space-between; /* فاصله بین دکمه‌ها */
    margin-bottom: 10px;
}

.action-buttons button {
    padding: 10px 15px;
    background-color: #f00; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.action-buttons button:hover {
    background-color: darkred;
}

.item-availability {
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.8;
    color: #666;
}

/* استایل‌دهی به بخش "درباره ما" */
#about {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
    text-align: left;
}

#about h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #666;
}

/* استایل‌دهی به لینک‌های پایین صفحه */
.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* استایل‌دهی به سبد خرید */
#cart-items {
    text-align: center;
    margin: 20px 0;
}

#total-price {
    text-align: center;
    margin: 20px 0;
}

#total-price button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#total-price button:hover {
    background-color: darkred;
}

/* استایل‌دهی به مدال برای بزرگنمایی تصاویر */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.modal-arrow-left, .modal-arrow-right {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-50%);
}

.modal-arrow-left {
    left: 10px;
}

.modal-arrow-right {
    right: 10px;
}